@model CodeLock.Models.MasterSac
@using Secure_Coding.MvcSecurityExtensions;

@{
    ViewBag.Title = "Sac Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Insert", "Sac", FormMethod.Post, new { @class = "j-forms" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("SacId", 0)
    @Html.AntiModelInjectionFor(m => m.SacId)

    <div class="widget-wrap">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.SacCode, new { @class = "label" })
                    <div class="input-wrapper">
                        @Html.TextBoxFor(model => model.SacCode, new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.SacCode)
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.SacName, new { @class = "label" })
                    <div class="input-wrapper">
                        @Html.TextBoxFor(model => model.SacName, new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.SacName)
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.GstRate, new { @class = "label" })
                    <div class="input-wrapper">
                        @Html.TextBoxFor(model => model.GstRate, new { @class = "form-control numeric2" })
                    </div>
                    @Html.ValidationMessageFor(model => model.GstRate)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.IsRcm, new { @class = "label" })
                    <label class="checkbox">
                        @Html.CheckBoxFor(model => model.IsRcm)
                        <i></i>
                    </label>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.IsActive, new { @class = "label" })
                    <label class="checkbox">
                        @Html.CheckBoxFor(model => model.IsActive)
                        <i></i>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-footer">
            <button type="submit" class="btn btn-success primary-btn" tabindex="3">Create</button>
        </div>
    </div>
}
<script>
    $(document).ready(function () {
        SetPageLoad('Sac', 'Create', 'SacCode', 'Go To List', '@Url.Action("Index")');
    });
</script>
