
@model CodeLock.Models.PackagingModel
@{
    ViewBag.Title = "RgpInsert";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

@*<style>
    table,
    th,
    td {
        border: 1px solid black;
    }

    table {
        overflow: auto;
        width: 100%;
        max-width: 400px;
        height: 200px;
        max-height: 500px;
        display: block;
        margin: 0 auto;
        border-spacing: 0;
    }

    tbody {
        white-space: nowrap;
    }

    th,
    td {
        padding: 1px 3px;
        border-top-width: 0;
        border-left-width: 0;
    }

    th {
        position: sticky;
        top: 5px;
        background-color: lightgray;
        vertical-align: bottom;
    }

        th:last-child,
        td:last-child {
            border-right-width: 0;
        }

    tr:last-child td {
        border-bottom-width: 0;
    }

    .head {
        background-color: lightgray;
        padding: 2px;
    }

    .form-control-date {
        position: relative;
        cursor: pointer;
    }

        .form-control-date::before {
            content: attr(placeholder);
            position: absolute;
            top: 50%;
            left: 10px;
            transform: translateY(-50%);
            color: #aaa;
            pointer-events: none;
        }

        .form-control-date:focus::before,
        .form-control-date:not(:placeholder-shown)::before {
            display: none;
        }
</style>*@

<div class="widget-wrap">
    <div class="row">
        <div class="col-lg-12">
            <div class="">
                <div class="inline-group">
                    <form class="form-group">
                        <div class="head">
                            <button class="btn btn-success" type="submit">Submit</button>
                            <span><a href="@Url.Action("RgpList","RGP")" class="btn btn-primary">List</a></span>
                            <button type="button" class="btn btn-info" id="Getitems">Get The Item Details</button>
                        </div>

                        <div class="row col-lg-12">
                            <div class="col-sm-3 inline-group">
                                @Html.Label("Customer", new { @id = "lblCustomerId", @class = "inline-group" })
                                <div class="select">
                                    @Html.DropDownListFor(model => model.CustomerId, new SelectList(ViewBag.CustomerList, "Value", "Name"), "Select Customer", new { @class = "form-control select2", @id = "ddlCustomerId" })
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <label class="inline-group" for="txtRgpDocDateTime">RGP Date</label>
                                <div class="form-group">
                                    <input type="date" class="form-control form-control-date" id="txtRgpDocDateTime" placeholder="RGP Date" />
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <label class="inline-group" for="postingDate">Posting Date</label>
                                <div class="form-group">
                                    <input type="date" class="form-control form-control-date" id="postingDate" placeholder="Posting Date" disabled />
                                </div>
                            </div>
                            <div class="col-lg-2 inline-group">
                                <label class="inline-group" for="rgpSeries">RGP Series</label>
                                <div class="select">
                                    @Html.DropDownListFor(model => model.Series, new SelectList(ViewBag.RGPListSeries, "Value", "Name"), "Select RGP Series", new { @class = "form-control select2", @id = "ddlRgpSeries" })
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <label class="inline-group" for="rgpNo">RGP No</label>
                                <input type="text" class="form-control" id="rgpNo" placeholder="RGP no" />
                            </div>
                        </div>

                        <div class="row col-lg-12">
                            <div class="col-lg-3">
                                <label class="inline-group" for="shipTo">Ship To</label>
                                <textarea type="text" class="form-control" id="shipToDisplay" placeholder="Ship To"></textarea>
                                <input type="hidden" id="shipTo" name="shipTo" />
                            </div>

                            <div class="col-lg-2">
                                <label class="form-inline" for="fromBranch">From Branch</label>
                                <select class="select form-control" id="fromBranch">
                                    <option value="Packaging" selected class="select-item">Packaging</option>
                                    <option value="Manufacture">Manufacture</option>
                                </select>
                            </div>

                            <div class="col-lg-2">
                                <label class="form-inline" for="fromWarehouse">From Warehouse</label>
                                @Html.DropDownListFor(model => model.WarehouseId, new SelectList(ViewBag.WarehouseList, "Value", "Text", SessionUtility.CompanyId), "Select Warehouse", new { @class = "form-control select2", @id = "ddlFromWarehouse" })
                            </div>

                            <div class="col-lg-2">
                                <label class="form-inline" for="toWarehouse">To Warehouse</label>
                                <div class="select">
                                    @Html.DropDownListFor(model => model.WarehouseId, new SelectList(ViewBag.PkgWarehouseList, "Value", "Name"), "Select Warehouse", new { @class = "form-control select2", @id = "ddlToWarehouse" })
                                </div>
                            </div>

                        </div>

                        <div class="row-border">
                            <div class="col-lg-12">
                                <button id="Getitems" class="btn btn-primary">Fetch Items</button>
                                <table class="table table-responsive table-bordered" id="myTable">
                                    <thead style="background-color: #139c9b;color:white;">
                                        <tr>
                                            <th><label for="itemNo">Item No</label></th>
                                            <th><label for="itemDescription">Item Description</label></th>
                                            <th><label for="qty">Stock-Qty</label></th>
                                            <th><label for="fromWH">From W/H</label></th>
                                            <th><label for="toWH">To W/H</label></th>
                                            <th><label for="location">Location</label></th>
                                            <th><label for="infoPrice">Info Price</label></th>
                                            <th><label for="taxCat">Tax Cat</label></th>
                                            <th><label for="taxable">Taxable</label></th>
                                            <th><label for="gstAmt">Gst Amt</label></th>
                                            <th><label for="total">Total</label></th>
                                            <th colspan="2">Add | Remove</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- Rows will be added dynamically here -->
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                            Add Transporter Details
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">RGP Transporter Details</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <label class="inline-group" for="ewayBillNo">EwayBill No</label>
                                                <input type="text" class="form-control" id="ewayBillNo" placeholder="EwayBill no" disabled />
                                            </div>

                                            <div class="col-lg-3">
                                                <label class="inline-group" for="transporterName">Transporter Name</label>
                                                <input type="text" class="form-control" id="transporterName" placeholder="Transporter Name" disabled />
                                            </div>

                                            <div class="col-lg-3">
                                                <label class="inline-group" for="transporterGST">Transporter GST</label>
                                                <input type="text" class="form-control" id="transporterGST" placeholder="Transporter GST" disabled />
                                            </div>

                                            <div class="col-lg-3">
                                                <label class="inline-group" for="LRNo">LR No</label>
                                                <input type="text" class="form-control" id="LRNo" placeholder="LR No" disabled />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
  $(document).ready(function () {
    // Initialize Select2
    $('#ddlCustomerId').select2();
    $('#ddlFromWarehouse').select2();
    $('#ddlToWarehouse').select2();

    // Fetch items
    $('#Getitems').click(function () {
        $.ajax({
            url: '@Url.Action("GetTheRgpItemDetailsByIds", "RGP")',
            type: 'GET',
            dataType: 'json',
            success: function (response) {
                if (response.error) {
                    alert('Error: ' + response.error);
                    return;
                }

                var data = response.data;

                // Clear existing rows
                $('#myTable tbody').empty();

                // Get selected values
                var fromWarehouse = $('#ddlFromWarehouse').find('option:selected').text();
                var toWarehouse = $('#ddlToWarehouse').find('option:selected').text();

                // Iterate over the response data
                $.each(data, function (index, item) {
                    var newRow = `
                        <tr>
                            <td><input type="text" class="form-control" value="${item.ItemCode || ''}" /></td>
                            <td><input type="text" class="form-control" value="${item.ItemDescription || ''}" /></td>
                            <td><input type="text" class="form-control" value="${item.Quantity || ''}" disabled /></td>
                            <td><input type="text" class="form-control" value="${fromWarehouse}" disabled /></td>
                            <td><input type="text" class="form-control" value="${toWarehouse}" disabled /></td>
                            <td><input type="text" class="form-control" value="${item.Location || ''}" /></td>
                            <td><input type="text" class="form-control" value="${item.InfoPrice || ''}" /></td>
                            <td><input type="text" class="form-control" value="${item.TaxCat || ''}" /></td>
                            <td><input type="text" class="form-control" value="${item.Taxable || ''}" /></td>
                            <td><input type="text" class="form-control" value="${item.GstAmt || ''}" /></td>
                            <td><input type="text" class="form-control" value="${item.Total || ''}" /></td>
                            <td>
                                <button class="btn btn-primary" onclick="addRow()" type="button"><i class="fa fa-plus"></i></button>
                            </td>
                            <td>
                                <button class="btn btn-danger" onclick="deleteRow(this)" type="button"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                    `;
                    $('#myTable tbody').append(newRow);
                });
            },
            error: function (xhr, status, error) {
                alert('An error occurred while fetching the data.');
            }
        });
    });
});

    function addRow() {
        // Get selected values from dropdowns
        var fromWarehouse = $('#ddlWarehouse option:selected').text();
        var toWarehouse = $('#ddlWarehouse option:selected').text();

        var newRow = `
            <tr>
                <td><input type="text" class="form-control" /></td>
                <td><input type="text" class="form-control" /></td>
                <td><input type="text" class="form-control" /></td>
                <td><input type="text" class="form-control" value="${fromWarehouse}" /></td>
                <td><input type="text" class="form-control" value="${toWarehouse}" /></td>
                <td><input type="text" class="form-control" /></td>
                <td><input type="text" class="form-control" /></td>
                <td><input type="text" class="form-control" /></td>
                <td><input type="text" class="form-control" /></td>
                <td><input type="text" class="form-control" /></td>
                <td><input type="text" class="form-control" /></td>
                <td>
                    <button class="btn btn-primary" onclick="addRow()" type="button"><i class="fa fa-plus"></i></button>
                </td>
                <td>
                    <button class="btn btn-danger" onclick="deleteRow(this)" type="button"><i class="fa fa-trash"></i></button>
                </td>
            </tr>
        `;
        $('#myTable tbody').append(newRow);
    }

    function deleteRow(button) {
        $(button).closest('tr').remove();
    }
</script>

