@using CodeLock.Models
@model CustomerBillCancellation
@using Secure_Coding.MvcSecurityExtensions;
@{
    ViewBag.Title = "Submission";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(document).ready(function () {
        customerMasterUrl = '@Url.Action("", "Customer", new { Area = "Master" })';
        billGenerationUrl = '@Url.Action("", "CustomerBill", new { Area = "Finance" })';
    });
</script>
<script src="~/areas/finance/views/customerbill/Cancellation.js"></script>
<div id="dvWizard">
    <div class="panel-body">
        @using (Html.BeginForm("Cancellation", "CustomerBill", FormMethod.Post, new { @class = "j-forms j-multistep", @id = "j-forms" }))
        {
            @Html.AntiForgeryToken()
            <div class="tab-content">
                <div class="tab-pane">
                    <div class="row">
                        <div class="col-sm-4">
                            @Html.Label("Bill Date", new { @class = "label" })
                            <div class="clearfix">
                                <div id="drBillDate"></div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.PaybasId, new { @class = "label" })
                                <div class="select">
                                    @Html.DropDownListFor(model => model.PaybasId, new SelectList(ViewBag.PaybasList, "Value", "Name"), new { @class = "form-control", @id = "ddlPaybasId" })
                                    <i></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.CustomerCode, new { @class = "label" })
                                <div class="input">
                                    @Html.HiddenFor(model => model.CustomerId, new { @id = "hdnCustomerId" })
                                    @Html.TextBoxFor(model => model.CustomerCode, null, new { @class = "form-control", @id = "txtCustomerCode" })
                                </div>
                                @Html.ValidationMessageFor(model => model.CustomerCode)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.BillNo, new { @class = "label" })
                                <div class="input">
                                    @Html.TextBoxFor(model => model.BillNo, new { @class = "form-control", @id = "txtBillNo" })
                                </div>
                                @Html.ValidationMessageFor(model => model.BillNo)
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ManualBillNo, new { @class = "label" })
                                <div class="input">
                                    @Html.TextBoxFor(model => model.ManualBillNo, new { @class = "form-control", @id = "txtManualBillNo" })
                                </div>
                                @Html.ValidationMessageFor(model => model.ManualBillNo)
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.CustomerCode, " ", new { @class = "label" })
                                <div class="clearfix">
                                </div>
                                @Html.LabelFor(model => model.CustomerCode, " ", new { @class = "label-bold", @id = "lblCustomerName" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.CustomerCode, new { @class = "label" })
                                <div class="clearfix">
                                </div>
                                @Html.LabelFor(model => model.CustomerCode, " ", new { @class = "label-bold", @id = "lblCustomer" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.Partial("DateTimePicker", new DateTimePicker() { FieldName = "CancelledDate", FieldCaption = DataAnnotationHelper.GetDisplayName(Model, m => m.CancelledDate), IsRequired = true, AllowFutureDate = false, AllowPastDate = true, MinDate = DateTime.Now.Date.AddDays(-30), MaxDate = DateTime.Now, IsDateOnly = false })
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.CancelledReason, new { @class = "label" })
                                <div class="input">
                                    @Html.TextBoxFor(model => model.CancelledReason, new { @class = "form-control" })
                                </div>
                                @Html.ValidationMessageFor(model => model.CancelledReason)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div>
                                <table id="dtCustomerBillList"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>
</div>
