@using CodeLock.Models
@model VoucherCancellation
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
        baseUrl = '@Url.Action("", "Accounts")';
        docketNomenclature = '@SessionUtility.DocketNomenClature';
        currentDate = '@DateTime.Now';
        dateTimeFormat = '@ConfigHelper.JsDateFormat' + ' ' + '@ConfigHelper.TimeFormat';
</script>
<script src="@Url.Content("~/Areas/Finance/Views/accounts/VoucherCancellation.js")"></script>

<div class="row" id="dvWizard">
    <div class="panel-body">
        @using (Html.BeginForm("VoucherCancellation", "Accounts", FormMethod.Post, new { @class = "j-forms", @id = "j-forms" }))
        {
            @Html.AntiForgeryToken()
            <div class="tab-content">
                <div class="tab-pane">
                    <div class="row">
                        <div class="col-sm-4">
                            <div>
                                @Html.Label("Voucher Date", new { @class = "label" })
                            </div>
                            <div id="drVoucherDate"></div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.VoucherNo, new { @class = "label" })
                                <div class="input">
                                    @Html.TextBoxFor(model => model.VoucherNo, new { @class = "form-control", @id = "txtVoucherNo" })
                                </div>
                            </div>
                        </div>
                        @*<div class="col-sm-4">
                                <div class="form-group">
                                    @Html.Label(" ", new { @class = "label" })
                                    @Html.Label("(seperated by comma if multiple)")
                                </div>
                            </div>*@
                    </div>
                </div>
                <div class="tab-pane">
                    <div class="row">
                        <div class="col-sm-12">
                            <div>
                                <table id="dtVoucherList"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

