@model IEnumerable<CodeLock.Models.MasterSku>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="widget-wrap material-table-widget">
    <table id="dtSku">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SkuCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SkuName)
                </th>
                <th data-hide="phone">
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
                <th class="td-center" data-sort-ignore="true" data-hide="phone">Action</th>
                <th style="display:none">
                    @Html.DisplayNameFor(model => model.UomId)
                </th>
                <th style="display:none">
                    @Html.DisplayNameFor(model => model.EntryByName)
                </th>
                <th style="display:none">
                    @Html.DisplayNameFor(model => model.EntryDate)
                </th>
                <th style="display:none">
                    @Html.DisplayNameFor(model => model.UpdateByName)
                </th>
                <th style="display:none">
                    @Html.DisplayNameFor(model => model.UpdateDate)
                </th>
            </tr>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SkuCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SkuName)
                    </td>
                    <td>
                        @Html.Label("", item.IsActive == true ? "Yes" : "No", new { @class = item.IsActive == true ? "label label-success" : "label label-default" })
                    </td>
                    <td class="td-center">
                        <div class="btn-toolbar" role="toolbar">
                            <div class="btn-group" role="group">
                                <a class="btn btn-default btn-sm m-user-edit" href="@Url.Action("Insert", new { id = item.SkuId })"><span class="zmdi zmdi-edit"></span></a>
                                <a class="btn btn-default btn-sm m-user-edit" href="@Url.Action("View", new { id = item.SkuId })"><span class="fa fa-file"></span></a>
                            </div>
                        </div>
                    </td>
                    <td style="display:none">
                        @Html.DisplayFor(modelItem => item.UomId)
                    </td>
                    <td style="display:none">
                        @Html.DisplayFor(modelItem => item.EntryByName)
                    </td>
                    <td style="display:none">
                        @item.EntryDate.ToDisplayDateTime()
                    </td>
                    <td style="display:none">
                        @Html.DisplayFor(modelItem => item.UpdateByName)
                    </td>
                    <td style="display:none">
                        @item.UpdateDate.ToDisplayDateTime()
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        SetPageLoad('SKU', 'List', '', 'Add New', '@Url.Action("Insert")');
        LoadDataTable('dtSku', true, true, true);
        $('[id=dtSku_filter]').find('input').focus();
    });
</script>




