@using CodeLock.Models
@model DocketReAssign
@{
    ViewBag.Title = "Change Docket Status";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    baseUrl = '@Url.Action("", "DocketChangeStatus")';
    docketNomenclature = '@SessionUtility.DocketNomenClature';
</script>
@using (Html.BeginForm("DocketChangeStatus", "Docket", FormMethod.Post, new { @class = "j-forms" }))
{
    <div class="widget-wrap">
        <div class="page-separator"><span class="page-separator" id="spnMassage">Change docket status</span></div>
        
        <div id="dvStep1">
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.DocketNo, new { @class = "label" })
                        <div class="input">
                            @Html.TextBoxFor(model => model.DocketNo, new { @class = "form-control", @id = "txtDocketNo" })
                            @Html.HiddenFor(model => model.DocketId, new { @id = "hdnDocketId" })
                        </div>
                        @Html.ValidationMessageFor(model => model.DocketNo)
                    </div>
                </div>
            </div>
        </div>
        <div id="dvStep2" style="display:none;">
            <div class="page-separator"><span class="page-separator" id="spnMassage">Docket Detail</span></div>

                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Origin, new { @class = "label" })
                            <div class="input">
                                @Html.TextBoxFor(model => model.Origin, new { @class = "form-control textlabel", @id = "txOrigin" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Destination, new { @class = "label" })
                            <div class="input">
                                @Html.TextBoxFor(model => model.Destination, new { @class = "form-control textlabel", @id = "txDestination" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.DocketStatus, new { @class = "label" })
                            <div class="input">
                                @Html.TextBoxFor(model => model.DocketStatus, new { @class = "form-control textlabel", @id = "txDocketStatus" })
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.DocketStatusCode, new { @class = "label" })
                            <div class="select">
                                @Html.DropDownListFor(model => model.DocketStatusCode, new List<SelectListItem>
                                                                        {
                                                                            new SelectListItem{ Text="Available for DRS", Value = "1" },
                                                                            new SelectListItem{ Text="Available For Delivery MR", Value = "2" }
                                                                         }, new { @class = "form-control", @id = "ddlDocketStatusId", disabled = "disabled" })
                                <i></i>
                                @Html.HiddenFor(model => model.DocketStatusId, new { @id = "hdnDocketStatusId" })


                            </div>
                            
                            @Html.ValidationMessageFor(model => model.DocketStatusCode)
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Remarks, new { @class = "label" })
                            <div class="input">
                                @Html.TextBoxFor(model => model.Remarks, new { @class = "form-control", @id = "txRemarks" })
                            </div>
                            @Html.ValidationMessageFor(model => model.Remarks)
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <div class="align-right">
                            <div class="clearfix">
                                <button type="submit" class="btn btn-primary m-" id="btnSubmit">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
}
<script>

    $(document).ready(function () {
        InitObjects();
        AttachEvents();
    });

    function AttachEvents() {
        txtDocketNo.blur(function () { CheckValidDocketNo(); });
    }
    function InitObjects() {
        txtDocketNo = $("#txtDocketNo");
        hdnDocketId = $("#hdnDocketId");
        txOrigin = $("#txOrigin");
        txDestination = $("#txDestination");
        ddlDocketStatusId = $("#ddlDocketStatusId");
        txDocketStatus = $("#txDocketStatus");
        hdnDocketStatusId = $("#hdnDocketStatusId");
        docketUrl = '@Url.Action("", "Docket", new { Area = "Operation" })';
    }

    function CheckValidDocketNo() {
        if (txtDocketNo.val() != '') {
            var requestData = { docketNo: txtDocketNo.val() };
            AjaxRequestWithPostAndJson(docketUrl + '/CheckValidDocketNoForChangeStatus', JSON.stringify(requestData), function (result) {
              
                if (result != null) {

                    $('#dvStep1').pointerEvent(false);
                    $('#dvStep2').show();
                    hdnDocketId.val(result.DocketId);
                    txOrigin.val(result.Origin);
                    txDestination.val(result.Destination);
                    txDocketStatus.val(result.DocketStatus);
                    ddlDocketStatusId.val(result.DocketStatusId);
                    hdnDocketStatusId.val(result.DocketStatusId);
                    return true;
                }
                else {
                    ShowMessage(docketNomenclature + ' is not valid for change status');
                    txtDocketNo.val('');
                    hdnDocketId.val('');
                    txtDocketNo.focus();
                    return false;
                }
            }, ErrorFunction, false);
        }
    }
</script>

