@model IEnumerable<CodeLock.Models.MasterJobOrderTask>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="widget-wrap material-table-widget">
    <table id="dtTask">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(m => m.Task)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.WorkGroupId)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.TaskTypeId)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.IsActive)
                </th>
                <th class="td-center" data-sort-ignore="true" data-hide="phone">Action</th>
                <th style="display:none">
                    @Html.DisplayNameFor(model => model.EstimatedLabourHours)
                </th>
                <th style="display:none">
                    @Html.DisplayNameFor(model => model.EntryByName)
                </th>
                <th style="display:none">
                    @Html.DisplayNameFor(model => model.EntryDate)
                </th>
                <th style="display:none">
                    @Html.DisplayNameFor(model => model.UpdateByName)
                </th>
                <th style="display:none">
                    @Html.DisplayNameFor(model => model.UpdateDate)
                </th>
            </tr>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th>
                        @Html.DisplayFor(m => item.Task)
                    </th>
                    <td>
                        @Html.DisplayFor(m => item.WorkGroup)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.TaskType)
                    </td>
                    <td>
                        @Html.Label("", item.IsActive == true ? "Yes" : "No", new { @class = item.IsActive == true ? "label label-success" : "label label-default" })
                    </td>
                    <td class="td-center">
                        <div class="btn-toolbar" role="toolbar">
                            <div class="btn-group" role="group">
                                <a class="btn btn-default btn-sm m-user-edit" href="@Url.Action("Insert", new { id = item.TaskId })"><span class="zmdi zmdi-edit"></span></a>
                                <a class="btn btn-default btn-sm m-user-edit" href="@Url.Action("View", new { id = item.TaskId })"><span class="fa fa-file"></span></a>
                            </div>
                        </div>
                    </td>
                    <td style="display:none">
                        @Html.DisplayFor(modelItem => item.EstimatedLabourHours)
                    </td>
                    <td style="display:none">
                        @Html.DisplayFor(modelItem => item.EntryByName)
                    </td>
                    <td style="display:none">
                        @item.EntryDate.ToDisplayDateTime()
                    </td>
                    <td style="display:none">
                        @Html.DisplayFor(modelItem => item.UpdateByName)
                    </td>
                    <td style="display:none">
                        @item.UpdateDate.ToDisplayDateTime()
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        SetPageLoad('Task', 'List', '', 'Add New', '@Url.Action("Insert")');
        LoadDataTable('dtTask', true, true, true);
        $('[id=dtTask_filter]').find('input').focus();
    });
</script>


